<h1>All Tasks</h1>
<span class="pull-right"><a href="<%= task_path(@conn, :create) %>">Add Task</a></span>
<%= render TodoWebWeb.SharedView, "count.html", list: @tasks %>
<div class="list-group">
  <%= for t <- @tasks do %>
    <%= render "summary.html", task: t, conn: @conn %>
  <%= end %>
</div>
